//@theme "/usr/share/rofi/themes/sidebar.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
configuration {
    font: "Fira Code 16"; 
    show-icons: true;
}
window {
    width:    30em;
    height: 50%;
    location: center;
    anchor:   north;
    border:   0px 2px 0px 0px;
}
